.movie_tile{
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 8px;
  span{
      padding: 10px;
  }
}

.placeholder img{
  border-radius: 0;
}


.over-all-count{
  margin: 15px;
  border: 1px solid #eee;
  width: 30% !important;
  height: 110px;
  div.row{
    margin-top: 28px;
  }
}

.over-all-count:nth-child(1) {
  background: yellow;
}

.over-all-count:nth-child(3){
  background: greenyellow;
}

.over-all-count:nth-child(2){
    background: aquamarine;
}
